<!-- <div class="busuanzi-counter">
  <h4><i class="fas fa-chart-bar" aria-hidden="true"></i> Visitor Stats</h4>
  
  <div class="counter-display">
    <p>Site Total Views: <span id="busuanzi_value_site_pv"></span></p>
    <p>Site Unique Visitors: <span id="busuanzi_value_site_uv"></span></p>
    <p>Page Views: <span id="busuanzi_value_page_pv"></span></p>
  </div>
  
  <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
  
  <div class="privacy-note">
    <small><em>Statistics from Busuanzi</em></small>
  </div>
</div> -->