---
layout: single
author_profile: true
---

<h2>About Me</h2>

<p style="font-size: 16px;">
  Hello! I'm Zhaohong Liu, a researcher/developer in Robotics.
  M.Sc. student in Mechanical Engineering at SJTU with expertise in quadrotor motion planning, reinforcement learning, and UAV autonomy. Experienced in full-stack development for aerial robotics systems, including perception, planning, control and hardware integration. Aspiring to pursue a Ph.D. focusing on AI-driven autonomous (aerial) robots in interactive tasks, particularly in learning-based interactive planning, manipulation and real-world deployment.
</p>

<p style="font-size: 16px; color: #A50044;">
  I'm currently looking for Ph.D. positions starting from Fall 2025 and Spring 2026. If you are interested in my research, please feel free to contact me.
</p>

<h2>Research Interests</h2>

<p style="font-size: 16px; color: #004D98;">
  <strong>AI for Robotics.</strong>
</p>  

<ul style="font-size: 16px;">
  <li>Aerial robotics</li>
  <li>Motion planning</li>
  <li>Manipulation</li>
  <li>Reinforcement learning</li>
</ul>

<h2>News</h2>

<ul style="font-size: 16px;">
  <li>Internship at Shanghai AI Lab.</li>
</ul>

<h2>Publications</h2>

<p style="font-size: 16px;">
  <strong>ArXiv</strong>
  <a href="https://arxiv.org/abs/2408.00275">"RESC: A Reinforcement Learning Based Search-to-Control Framework for Quadrotor Local Planning in Dense Environments"</a>
  , <em><strong>Zhaohong Liu</strong>, Wenxuan Gao, Yinshuai Sun, and Peng Dong.</em>
</p>


<a href='https://www.free-counters.org/'>https://www.free-counters.org</a> 
<script type='text/javascript' 
src='https://www.freevisitorcounters.com/auth.php?id=962a2c5771118403cef403fe957f899c44dfd8c8'></script>
<script type="text/javascript" src="https://www.freevisitorcounters.com/en/home/counter/1311895/t/0"></script>