---
layout: single
author_profile: true
---

<h2>About Me</h2>

<p style="font-size: 16px;">
  Hello! I'm Zhaohong Liu, a researcher/developer in Robotics.
  M.Sc. student in Mechanical Engineering at SJTU with expertise in quadrotor motion planning, reinforcement learning, and UAV autonomy. Experienced in full-stack development for aerial robotics systems, including perception, planning, control and hardware integration. Aspiring to pursue a Ph.D. focusing on AI-driven autonomous (aerial) robots in interactive tasks, particularly in learning-based interactive planning, manipulation and real-world deployment.
</p>

<h2>Research Interests</h2>

<ul style="font-size: 16px;">
  <li>Aerial robotics</li>
  <li>Motion planning</li>
  <li>Manipulation</li>
  <li>Reinforcement learning</li>
</ul>

<div class="visitor-counter">
  {% include flag-counter.html %}
</div>