---
layout: single
author_profile: true
---

<h2>About Me</h2>

<p style="font-size: 16px;">
  Hello! I'm Zhaohong Liu, a researcher and developer in Robotics.
  I am currently a Ph.D. student at <a href="https://en.sjtu.edu.cn/" target="_blank">Shanghai Jiao Tong University (SJTU)</a>, in the <a href="https://irmv.sjtu.edu.cn/" target="_blank">Intelligent Robotics and Machine Vision Lab (IRMV Lab)</a>, advised by <a href="https://irmv.sjtu.edu.cn/wanghesheng/" target="_blank">Prof. Hesheng Wang</a>. 
  My research focuses on aerial robotics, reinforcement learning, and manipulation.
</p>

<p style="font-size: 16px;">
  I hold an M.Sc. in Mechanical Engineering from <a href="https://en.sjtu.edu.cn/" target="_blank">Shanghai Jiao Tong University (SJTU)</a>, where I was advised by <a href="https://www.aero.sjtu.edu.cn/szdw/szml/53" target="_blank">Prof. Peng Dong</a>. My specialization includes quadrotor motion planning, reinforcement learning, and UAV autonomy. My experience encompasses full-stack development of aerial robotics systems, covering perception, planning, control, and hardware-software integration. 
</p>

<p style="font-size: 16px;">
  During my undergraduate studies at <a href="https://en.nwpu.edu.cn/" target="_blank">Northwestern Polytechnical University (NWPU)</a>, I conducted research in the <a href="http://www.adv-ci.com/blog/" target="_blank">PI-Lab</a> under the guidance of <a href="https://gitee.com/bushuhui" target="_blank">Prof. Shuhui Bu</a>, focusing on visual SLAM. Prof. Bu also supervised my graduation project. Additionally, I was a visiting student in <a href="https://teacher.nwpu.edu.cn/zhouzhou.html" target="_blank">Prof. Zhou Zhou's Lab</a>, where I engaged in research related to aircraft control.
</p>

<h2>Research Interests</h2>

<p style="font-size: 16px; color: #004D98;">
  <strong>AI for Robotics and Robotics for AI.</strong>
</p>  

<ul style="font-size: 16px;">
  <li>Aerial robotics</li>
  <li>Motion planning</li>
  <li>Reinforcement learning</li>
  <li>Manipulation</li>
</ul>

<h2>News</h2>

<ul style="font-size: 16px;">
  <li>Mar 2025 to Jun 2025, Internship at Shanghai AI Lab.</li>
</ul>

<h2>Publications</h2>

<p style="font-size: 16px;">
  <strong>ArXiv</strong>
  <a href="https://arxiv.org/abs/2408.00275">"RESC: A Reinforcement Learning Based Search-to-Control Framework for Quadrotor Local Planning in Dense Environments"</a>
  , <em><strong>Zhaohong Liu</strong>, Wenxuan Gao, Yinshuai Sun, and Peng Dong.</em>
</p>


<script type='text/javascript' 
src='https://www.freevisitorcounters.com/auth.php?id=962a2c5771118403cef403fe957f899c44dfd8c8'></script>
<script type="text/javascript" src="https://www.freevisitorcounters.com/en/home/counter/1311895/t/0"></script>
<a href='https://www.free-counters.org/'>https://www.free-counters.org</a> 